h1 {color: red;}

table{background-color: red;border-color: rgb(180, 61, 61);}

.razmebi
        {color: black;
        background-color: blue;}

.gabrieli {background-color: green;}

.students{    background-color: yellow;}

.number{ color:yellow;
background-color:red;}